DAW1/Lenguaje de Marcas/Trimestre 2/Repaso/repasolm4.dtd

<!ELEMENT personajeHistorico (nombre, imagen, datosPersonales, enlace)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT imagen (#PCDATA)>
<!ELEMENT datosPersonales (nacimiento, fallecimiento?, ocupaciones, descripcion)>
<!ELEMENT nacimiento (#PCDATA)>
<!ELEMENT fallecimiento (#PCDATA)>
<!ELEMENT ocupaciones (ocupacion+)>
<!ELEMENT ocupacion (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT enlace (#PCDATA)>
