DAW1/Lenguaje de Marcas/Trimestre 2/Repaso/repasolm2.dtd

<!ELEMENT cancion (titulo, (compositores*, productores*, sello?, artista+)*)>
<!ATTLIST cancion
          anio CDATA #REQUIRED
          duracion CDATA #IMPLIED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT compositores (compositor?)>
<!ELEMENT compositor ((nombres, apellidos?) | (apellidos?, nombres))>
<!ELEMENT nombres (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT productores (productor?)>
<!ELEMENT productor (nombres, apellidos)>
<!ELEMENT sello (#PCDATA)>
<!ELEMENT artista (#PCDATA)>