DAW1/Lenguaje de Marcas/Trimestre 2/Tema 4 - XML/Tarea 08 - Casos Finales/casoFinal02.dtd

<!ELEMENT expedientes (expediente+)>
<!ELEMENT expediente (titulacion, estudiante, modulos)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT estudiante (#PCDATA)>
<!ELEMENT modulos (modulo+)>
<!ELEMENT modulo (nombre, aprobado, curso)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT aprobado (#PCDATA)>
<!ELEMENT curso (#PCDATA)>